html {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #333333;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica', 'Nunito', sans-serif;
    /* align-items: center; */
}

h1 {
    color: #4E3822;
    font-family: 'Helvetica', 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

.main-wrapper {
  display: block;

  .social-tag-wrapper {
    position: absolute;
    top: 0;
    i {
        margin-top: 20px;
        margin-left: 50px;
        color: #FFFFF0;
        font-size: 40px;
    }
  }
  
  .main-logo {
    background-image: url('../assets/VGC_FULL_WHITE_small_copy_50.png');
    height: 216px;
    width: 350px;;
    margin-top: 100px;
    margin: auto;
  }

  .small-logo {
    background-image: url('../assets/VGC_FULL_WHITE_small.png');
    height: 90px;
    width: 140px;
    margin: auto;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 47%;
    top: 0;
    margin-top: 10px;
  }

  .overlay-text {
    position: absolute;
    color: #ffffff;
    font-size: 100px;
    margin-left: 25%;
    text-shadow: 1px 1px #333333;
    top: 0;
    margin-top: 30%;
  }
  
  @media only screen and (max-width: 1500px) {
    .overlay-text {
      margin-left: 18%;
    }
  }

  @media only screen and (max-width: 1300px) {
    .overlay-text {
      font-size: 42px;
      margin-left: 36%;
    }
  }



  .main-photo {
    background-image: url('../assets/vgc-group-1800x1350.jpg');
    height: 1300px;
    width: 100%;
    background-repeat: no-repeat;
    // margin-top: 100px;
    margin: auto;
    background-size: cover;
  }

  @media only screen and (max-width: 1500px) {
  .main-photo {
    background-image: url('../assets/vgc-group-1280x960.jpg');
    height: 960px;
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
  }
}

@media only screen and (max-width: 1300px) {
  .main-photo {
    background-image: url('../assets/vgc-group-820x615.jpg');
    background-repeat: no-repeat;
    height: 640px;
    width: 100%;
  }
}

  @media only screen and (max-width: 800px) {
    .main-photo {
      background-image: url('../assets/vgc-group-640x480.jpg');
      background-repeat: no-repeat;
      height: 640px;
      width: 100%;
    }
  }
  

  .team-header {
      text-align: center;
      color: #FFFFF0;
      padding-bottom: 40px;
      padding-top: 100px;
      // font-style: italic;
      // text-decoration: underline;
  }

  .our-team-section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-bottom: 50px;
      justify-content: center;
    .member {
        width: 400px;
        text-align: center;
        border: rgb(255, 255, 255);
        border-radius: 8px;
        border: 1px solid rgb(0, 0, 0);
        margin: 8px;
        padding: 25px;
        //
        background-color: #FFFFF0;

        .name {
            font-size: 24px;
            // color: #FFFFF0;
            color: #333333;
            padding-bottom: 16px;
            font-weight: 700;
        }
        .sub-info {
          text-align: left;
          font-size: 18px;
          // color: #FFFFF0;
          color: #333333;
      }
        .bio {
          // color: #ffffff;
          color: #333333;
          text-align: left;
          padding-top: 8px;
        }

        .noe-pic {
          background-image: url('../assets/members/Noe-Vital-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .melvin-pic {
          background-image: url('../assets/members/Melvin-Gordon-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .tanner-pic {
          background-image: url('../assets/members/Tanner-McEvoy-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .darius-pic {
          background-image: url('../assets/members/Darius-Hillary-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .robert-pic {
          background-image: url('../assets/members/Rob-Wheelright-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .dare-pic {
          background-image: url('../assets/members/Dare-Ogunbowale-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .austin-pic {
          background-image: url('../assets/members/Austin-Traylor-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }

        .kenzel-pic {
          background-image: url('../assets/members/Kenzel-Doe-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }
        .hugs-pic {
          background-image: url('../assets/members/Hugs-Etienne-VGC-400.jpg');
          height: 400px;
          width: 400px;
          border-radius: 3px;
          margin-bottom: 8px;
          background-repeat: no-repeat;
        }
    }
    @media only screen and (max-width: 1300px) {
      .member {
        margin-top: 50px;
      }
    }
  }
  .event-section {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    
    .text {
      font-size: 24px;
      width: 500px;
      margin-right: 100px;
      color: white;
      text-align: center;
      @media only screen and (max-width: 1100px) {
        margin-right: 0px;
      }
      @media only screen and (max-width: 800px) {
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .register-button {
        padding-top: 10px;
        button {
          width: 150px;
          height: 50px;
          font-size: 18px;
          font-weight: bold;
          margin-top: 20px;
          cursor: pointer;
          @media only screen and (max-width: 1100px) {
            margin-bottom: 40px;
            width: 180px;
          }
        }
      }
    }
    .flyer {
      width: 500px;
      height: 500px;
      background-image: url('../assets/2022-VibezGoCrazy-Design-v4-Sponsors_500x500.jpg');
    }
  }
  .motto-section {
    background-color: #FFFFF0;

    .motto-header {
      text-align: center;
      color: black;
      padding-top: 30px;
      font-size: 60px;
    }

    .motto-text {
      padding-top: 30px;
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 20px;
      font-size: 24px;
      text-align: center;
      color: black;
    }
    .vg-black-small {
      background-image: url('../assets/VGC_BLACK_small.png');
      width: 300px;
      height: 200px;
      margin: auto;
      background-repeat: no-repeat;
    }
  }
  .team-photo-section {
    height: 700px;

    background-repeat: no-repeat;
    margin: auto;
    .photo {
      background-image: url('../assets/group-photo.png');
    }
  }
  .footer {
    height: 140px;
    background-color: #fffff0;
    display: flex;
    .footer-wrapper {
      color: #333333;
      margin: auto;
      display: flex;
      flex-direction: row;
      .social-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: -16px;
        margin-left: 60px;
        position: absolute;
        right: 0;
        margin-right: 20px;
        .fa-instagram {
          font-size: 40px;
          color: #333333;
        }
        .fa-twitter {
          font-size: 40px;
          color: #333333;
          padding-left: 16px;
        }
        // .fa-tiktok {
        //   font-size: 40px;
        //   color: #333333;
        // }
      }
      .vibez-text {
        font-size: 24px;
        margin-top: -6px;
        position: absolute;
        left: 0;
        margin-left: 20px;
      }
    }
  }
}



